<p id="notice"><%= notice %></p>

<div class="player">
  <%= image_tag @movie.body_url(:thumb), width: '800' %>
</div>

<h2 class="movie_title"><%= @movie.name %></h2>

<div class="poster_info clearfix">
  <div class="poster_thumb">
    <%= image_tag @movie.user.image_url(:thumb), width: '32' %>
  </div>
  <div class="poster_name">
    <%= @movie.user.name %>
  </div>
  <div class="posted_date">
    <%= @movie.created_at.strftime("%Y/%m/%d %H:%M") %> 投稿
  </div>
</div>

<p class="movie_introduction">
  <%= @movie.introduction %>
</p>




<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

<h3>コメント</h3>
<ul>
  <%= render @comments %>
</ul>